
<div class="container">
<h1>Welcome, Loyal Customer!</h1>

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Your Daily Deal</h1>
        <p>You have 300 loyalty points. Come in today and get a bakery treat! Today's deal: 2 muffins for 100 points.</p>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Make a Reservation</h2>
          <p class="lead">Please give us at least a day in advance. <%= link_to "Go To", reservations_new_path, class: "btn btn-primary" %></p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Write a Review</h2>
          <p class="lead">We Love to Hear Your Feedback! Help Us Improve! <%= link_to "Go To", reviews_new_path, class: "btn btn-primary" %></p>
        </div>
      </div>

</div> <!-- /container -->