
	<h1>About Us/Frequently Asked Questions</h1>

	<div class="panel panel-custom">
  		<div class="panel-heading">
    		<h1 class="panel-title">A Story of Hard Work and Great Food...</h1>
  		</div>
  		<div class="panel-body">
    		Having been former employees at various restaurants and having all been brought up in almost every job available at such an establishment, we knew we wanted to take our hard earned experience and bring about our own dream of creating an eatery. Of course this was difficult, even a job as simple as busboy is filled with grit and sweat. But every job at a restaurant is valuable and we knew that our combined experiences would allow us to relate to every employ and establish a healthy relationship with all of our coworkers: a happy workforce is a productive one. But we refuse to let any attempt to make money overcome our desire to remain true to our roots, and we will always serve food that we are proud to both make and eat. At Heart and Soul, we serve authentic gluten free soul food, and if you don’t have time to stay and eat, go ahead and carry out at our bakery. Cooking is an art form and our passion, now let us share that passion with you.  

  		</div>

  		<div class="panel-heading">
  			<h1 class="panel-title">Frequently Asked Questions</h1>
  		</div>
  		<div class="panel-body">
        How do you make bread products without gluten?
        <br>
        Our gluten-free bread uses Millet flour which is soft and tasty, and contains twice as much fiber as the more commonly used rice flours. We also use corn starch and a naturally gluten free yeast.
        <br>
        <br>
        Are you open for any meals besides dinner?
        <br>
        We are open for lunch as well as dinner, while our bakery is in constant operation for all hours of operation. Make sure to check our hours of operation as they vary throughout the week. 
        <br>
        <br>
        What forms of payment do you accept?
        <br>
        We accept both credit cards including VISA, Master Card, American Express, and Discover, as well as cash. 
        <br>
        <br>
        What dietary restrictions can you accommodate for?
        <br>
        We are able to accommodate for both vegetarians and vegans. For specific needs you may call ahead to inquire about our accommodation abilities and we request you tell your server all your dietary needs so that they may be communicated to our staff, and our chefs may accommodate your requests.
        <br>
        <br>
        Do you offer take out?
        <br>
        Our bakery offers take out, however, our restaurant is dine-in only. You may take leftovers home. 
        <br>
        <br>
        Is smoking allowed?
        <br>
        Smoking is not permitted within our restaurants as we believe it endangers the health of our other non-smoking guests and employees.
  		</div>
	</div>


