// Place all the styles related to the about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.panel-custom {
	background-color: rgb(128, 0, 0);
	color: rgb(238, 178, 0);
}

#myCarousel {
	margin-bottom: 100px;
}