<h1>Reviews</h1>

<%= link_to 'Write Your Own Review', reviews_new_path, class: "btn btn-primary" %>

<% if @reviews.exists? %>

  <% @reviews.each do |review| %>
    <div class="panel panel-custom">
      <div class="panel-heading">
        <h2 class="panel-title"><%= review.title %></h2>
      </div>
      <div class="panel-body">
  	   <h5>Score: 
        <% if review.rating == 0 %>
          <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>(Would Not Come Again)
        <% else %>
         <span class="glyphicon glyphicon-star" aria-hidden="true"></span>(Would Come Again)
        <% end %>
       </h5>

        <%= review.body %>
      </div>
    </div>
  <% end %>

  <%= will_paginate %>

<% end %> 